<configuration>
  <packageSources>
    <add key="StringExtensionsFeed" value="https://pkgs.dev.azure.com/oajakai1/StringExtensionsAzure/_packaging/StringExtensionsFeed/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <StringExtensionsFeed>
      <add key="Username" value="oajakai1@my.centennialcollege.ca" />
      <add key="ClearTextPassword" value="AJKPc75lJ0VCT27s9jE6FGB8WO40yLtZF7XolRViuU0NRuwp39AXJQQJ99AKACAAAAAnPw96AAASAZDOoyBB" />
    </StringExtensionsFeed>
  </packageSourceCredentials>
</configuration>
